.meta-bind-plugin-input-wrapper {
	display: inline;
}

.meta-bind-plugin-input-wrapper .checkbox-container {
	vertical-align: text-bottom;
}

.meta-bind-plugin-error {
	color: red;
}

.meta-bind-full-width {
	width: 100%;
}
